doctype html
html(lang='en')
  head
    title New article
    link(rel='stylesheet', href='../styles/base.css')
    link(rel='stylesheet', href='../styles/style.css')
  body
    header.site-header
      h1.site-header__logo News
    .site-content
      h2.page-title New article
      .article-form
        form(action='/articles', enctype='multipart/form-data', method='post')
          label(for='title') Title:
          .input-wrapper
            input#title.input(type='text', name='title', required='', placeholder='Title')
          label(for='description') Description:
          .input-wrapper
            input#description.input(type='text', name='description', required='', placeholder='Description')
          label(for='link') Link:
          .input-wrapper
            input#link.input(type='text', name='link', required='', placeholder='Link')
          label(for='image') Image:
          .input-wrapper
            input#image.file-input(type='file', name='image', required='')
          input.button(type='submit', value='Add article')
